# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.opensdf
*.pdb
*.obj
*.tlog
*.log
*.idb
*.ilk
*.ib_pdb_index
/Debug/*.pdb
/Debug/*.ilk
/Meta-compiler/x64/Debug/*.pdb
/Meta-compiler/x64/Debug/*.idb
/Meta-compiler/x64/Debug/*.obj
/Meta-compiler/x64/Debug/*
/Meta-compiler/x64/Debug/*.log
/Meta-compiler/x64/Debug/*.ib_pdb_index
/Meta-compiler/Debug/*.log
/Meta-compiler/Debug/*.idb
/Meta-compiler/Debug/*.pdb
/Meta-compiler/Debug/Meta-compiler.tlog/*.tlog
/Meta-compiler/Debug/Meta-compiler.tlog/*.lastbuildstate
