# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
no-sweat.opensdf
vc140.pdb
windows_implementation.obj
Meta-compiler.tlog
command_seeker.obj
configuration_structure.obj
main.obj
Meta-compiler.Build.CppClean.log
Meta-compiler.log
vc140.idb
